<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
	<!-- Our installer builds have an assumption that shared wix files are in the packages folder of the solution.
		 The new csproj format breaks this assumption, so for now we will override the global folder to maintain this assumption.
		 See Initialize-InstallerPrerequisites in RedGate.Build.Installer -->
	<add key="globalPackagesFolder" value=".\packages" />
  </config>
</configuration>