projectName=SQLClone
productName=SQLClone
wss.url=https://app-eu.whitesourcesoftware.com/agent
apikey=abc

offline=true
forceCheckAllDependencies=false

resolveAllDependencies=false

nuget.resolvePackagesConfigFiles=true
nuget.resolveDependencies=true
nuget.packagesDirectory=packages

includes=**/*.jar